.container {
    justify-content: left;
}

.listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.fard {
    width: 18rem;
    height: 18.5rem;
    display: flex;
    flex: wrap;
    justify-content: center;
}

.photo {
    width: 9.375rem;
    height: 9.375rem;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 1.5rem;
    margin-left: 1.25rem;
    object-fit: cover;
}

.listing-title {
    font-weight: bold;
    font-size: 1.875rem;
    text-decoration: underline;
    color: #eaebea;
}


@media only screen and (max-width: 768px){
}
