.container {
    justify-content: left;
}

.listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.fard {
    width: 18rem;
    height: 18.5rem;
    margin-top: 3px;
    display: flex;
    flex: wrap;
    justify-content: center;
    border: 1px solid black;
}

.photo {
    width: 9.375rem;
    height: 9.375rem;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 1.5rem;
    margin-left: 1.25rem;
    object-fit: cover;
}

