.messages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
}

.messages .dp {
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 200px;
    height: 200px;
    margin-right: 3px;
}


.messages .chat {
    font: bold;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 800px;
    margin-right: 3px;
    background-color: var(--bs-primary);
}

.messages .people {
    font: bold;
    width: 290px;
    height: 800px;
}

.pict {
    width: 148px;
    height: 148px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 24px;
    object-fit: cover;
}

.mess-box {
    height: 660px;
    width: auto;
    background-color: white;
    margin: 6px 6px 0px 6px;
    border-radius: 3px;

}