
.messages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
}

.messages .dp {
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 12.5rem;
    height: 12.5rem;
    margin-right: 3px;
}


.messages .chat {
    font: bold;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 50rem;
    height: 34rem;
    margin-right: 3px;
    background-color: var(--bs-primary);
}

.messages .people {
    font: bold;
    width: 18.125rem;
    height: 34rem;
}

.pict {
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 1.5rem;
    object-fit: cover;
}

.mess-box {
    height: 30rem;
    width: auto;
    background-color: white;
    margin: 6px 6px 0px 6px;
    border-radius: 3px;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.mess-text {
    margin-top: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.test {
    width: 769px;
    height: 100000px;
}

.person{
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    object-fit: cover;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 15.5rem;
    height: 15.5rem;
}

.borrower  {
    height: 18rem;
}