.profile {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px;
  justify-content: space-evenly;
}
.profile .tool {
  border-radius: 3px;
  object-fit: cover;
}
.profile .hard {
  border: 2px solid lightgray;
  border-radius: 3px;
}
.people {
  font: bold;
}

.tool-title {
  color: oldlace;
  text-align: center;
  background-color: var(--bs-primary);
}

