.search {
    background-color: var(--bs-primary);
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 3px;
    display: flex;
    flex: wrap;
    justify-content: center;
}

.bar {
    margin-top: .5rem;
    margin-bottom: 0;
}

.listings {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 768px){
      .listings {
          justify-content: center;
      }
}